$icomoon-font-family: "ogoo-icon" !default;

$o-icon--youtube-play: "\e970";
$o-icon--linkedin-square: "\e971";
$o-icon--instagram: "\e972";
$o-icon--github-square: "\e973";
$o-icon--twitter-square: "\e974";
$o-icon--facebook-square: "\e975";
$o-icon--star-o: "\e976";
$o-icon--star: "\e977";
$o-icon--alert-triangle: "\e900";
$o-icon--arrow-down: "\e901";
$o-icon--arrow-left: "\e902";
$o-icon--arrow-right: "\e903";
$o-icon--arrow-up: "\e904";
$o-icon--calendar: "\e905";
$o-icon--check: "\e906";
$o-icon--chevron-down: "\e907";
$o-icon--chevron-left: "\e908";
$o-icon--chevron-right: "\e909";
$o-icon--chevron-up: "\e90a";
$o-icon--clock: "\e90b";
$o-icon--copy: "\e90c";
$o-icon--download: "\e90d";
$o-icon--edit: "\e90f";
$o-icon--edit-pen: "\e910";
$o-icon--external-link: "\e911";
$o-icon--eye: "\e912";
$o-icon--eye-off: "\e913";
$o-icon--file: "\e915";
$o-icon--file-minus: "\e916";
$o-icon--file-plus: "\e917";
$o-icon--file-text: "\e918";
$o-icon--filter: "\e919";
$o-icon--heart: "\e91b";
$o-icon--help-circle: "\e91c";
$o-icon--home: "\e91d";
$o-icon--link: "\e91f";
$o-icon--log-in: "\e922";
$o-icon--log-out: "\e923";
$o-icon--mail: "\e924";
$o-icon--map-pin: "\e925";
$o-icon--message-square: "\e926";
$o-icon--minus: "\e927";
$o-icon--more-horizontal: "\e929";
$o-icon--more-vertical: "\e92a";
$o-icon--plus: "\e92b";
$o-icon--printer: "\e92c";
$o-icon--refresh-cw: "\e92d";
$o-icon--repeat: "\e92e";
$o-icon--rotate-ccw: "\e92f";
$o-icon--rotate-cw: "\e930";
$o-icon--search: "\e931";
$o-icon--settings: "\e932";
$o-icon--share: "\e933";
$o-icon--slash: "\e934";
$o-icon--thumbs-down: "\e935";
$o-icon--thumbs-up: "\e936";
$o-icon--trash: "\e937";
$o-icon--upload: "\e939";
$o-icon--close: "\e941";
$o-icon--zoom-in: "\e942";
$o-icon--zoom-out: "\e943";