@font-face {
  font-family: 'ogoo-icon';
  src: url('../fonts/ogoo-icon.eot?f7fwv');
  src: url('../fonts/ogoo-icon.eot?f7fwv#iefix') format('embedded-opentype'),
  url('../fonts/ogoo-icon.ttf?f7fwv') format('truetype'),
  url('../fonts/ogoo-icon.woff?f7fwv') format('woff'),
  url('../fonts/ogoo-icon.svg?f7fwv#ogoo-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="o-icon--"], [class*=" o-icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $icomoon-font-family !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.o-icon--youtube-play:before {
  content: $o-icon--youtube-play;
}

.o-icon--linkedin-square:before {
  content: $o-icon--linkedin-square;
}

.o-icon--instagram:before {
  content: $o-icon--instagram;
}

.o-icon--github-square:before {
  content: $o-icon--github-square;
}

.o-icon--twitter-square:before {
  content: $o-icon--twitter-square;
}

.o-icon--facebook-square:before {
  content: $o-icon--facebook-square;
}

.o-icon--star-o:before {
  content: $o-icon--star-o;
}

.o-icon--star:before {
  content: $o-icon--star;
}

.o-icon--alert-triangle:before {
  content: $o-icon--alert-triangle;
}

.o-icon--arrow-down:before {
  content: $o-icon--arrow-down;
}

.o-icon--arrow-left:before {
  content: $o-icon--arrow-left;
}

.o-icon--arrow-right:before {
  content: $o-icon--arrow-right;
}

.o-icon--arrow-up:before {
  content: $o-icon--arrow-up;
}

.o-icon--calendar:before {
  content: $o-icon--calendar;
}

.o-icon--check:before {
  content: $o-icon--check;
}

.o-icon--chevron-down:before {
  content: $o-icon--chevron-down;
}

.o-icon--chevron-left:before {
  content: $o-icon--chevron-left;
}

.o-icon--chevron-right:before {
  content: $o-icon--chevron-right;
}

.o-icon--chevron-up:before {
  content: $o-icon--chevron-up;
}

.o-icon--clock:before {
  content: $o-icon--clock;
}

.o-icon--copy:before {
  content: $o-icon--copy;
}

.o-icon--download:before {
  content: $o-icon--download;
}

.o-icon--edit:before {
  content: $o-icon--edit;
}

.o-icon--edit-pen:before {
  content: $o-icon--edit-pen;
}

.o-icon--external-link:before {
  content: $o-icon--external-link;
}

.o-icon--eye:before {
  content: $o-icon--eye;
}

.o-icon--eye-off:before {
  content: $o-icon--eye-off;
}

.o-icon--file:before {
  content: $o-icon--file;
}

.o-icon--file-minus:before {
  content: $o-icon--file-minus;
}

.o-icon--file-plus:before {
  content: $o-icon--file-plus;
}

.o-icon--file-text:before {
  content: $o-icon--file-text;
}

.o-icon--filter:before {
  content: $o-icon--filter;
}

.o-icon--heart:before {
  content: $o-icon--heart;
}

.o-icon--help-circle:before {
  content: $o-icon--help-circle;
}

.o-icon--home:before {
  content: $o-icon--home;
}

.o-icon--link:before {
  content: $o-icon--link;
}

.o-icon--log-in:before {
  content: $o-icon--log-in;
}

.o-icon--log-out:before {
  content: $o-icon--log-out;
}

.o-icon--mail:before {
  content: $o-icon--mail;
}

.o-icon--map-pin:before {
  content: $o-icon--map-pin;
}

.o-icon--message-square:before {
  content: $o-icon--message-square;
}

.o-icon--minus:before {
  content: $o-icon--minus;
}

.o-icon--more-horizontal:before {
  content: $o-icon--more-horizontal;
}

.o-icon--more-vertical:before {
  content: $o-icon--more-vertical;
}

.o-icon--plus:before {
  content: $o-icon--plus;
}

.o-icon--printer:before {
  content: $o-icon--printer;
}

.o-icon--refresh-cw:before {
  content: $o-icon--refresh-cw;
}

.o-icon--repeat:before {
  content: $o-icon--repeat;
}

.o-icon--rotate-ccw:before {
  content: $o-icon--rotate-ccw;
}

.o-icon--rotate-cw:before {
  content: $o-icon--rotate-cw;
}

.o-icon--search:before {
  content: $o-icon--search;
}

.o-icon--settings:before {
  content: $o-icon--settings;
}

.o-icon--share:before {
  content: $o-icon--share;
}

.o-icon--slash:before {
  content: $o-icon--slash;
}

.o-icon--thumbs-down:before {
  content: $o-icon--thumbs-down;
}

.o-icon--thumbs-up:before {
  content: $o-icon--thumbs-up;
}

.o-icon--trash:before {
  content: $o-icon--trash;
}

.o-icon--upload:before {
  content: $o-icon--upload;
}

.o-icon--close:before {
  content: $o-icon--close;
}

.o-icon--zoom-in:before {
  content: $o-icon--zoom-in;
}

.o-icon--zoom-out:before {
  content: $o-icon--zoom-out;
}
