.o-persona {
  position: relative;
  display: flex;
  align-items: center;

  &__image {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 30px;
    border: 2px solid $primary-color;
    background-color: lighten($primary-color, 30%);
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  &__name {
    font-size: 18px;
  }

  &__job {
    font-size: 14px;
    font-weight: $o-font-weight-bold;
  }
}